.template{
    background-color: rgba(0, 0, 0, 0.636);
    width: 100%;
    height: 200px;
    text-align: center;
    padding-top: 50px;
}

.fh2{
    color: white;
    font-size: large;

}
.para{
    color: rgba(232, 230, 230, 0.845);
}
