.template{
    background-color: rgba(0, 0, 0, 0.636);
    width: 100%;
    height: 200px;
    text-align: center;
    padding-top: 50px;
    color: white;
}
.cart{
    justify-content: right;
    display: flex;
}

.product-card{
    width: 350px;
    text-align: center;
    background-color: white;
    border: 1px solid rgb(195, 195, 195);
    border-radius: 5px;
    padding-bottom: 7px;
}

.product-container{
    margin-top: 30px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 1rem;
    justify-items: center;
}

.product-image{
    width: 100%;
}

.add-cart{
    margin-bottom: 7px;
}